apiVersion: apps/v1
kind: Deployment
metadata:
  name: ngnix-deployment3
  namespace: test
  labels:
    app: ngnix3
spec:
  replicas: 10
  selector:
    matchLabels:
      app: ngnix3
  template:
    metadata:
      annotations:
        imp: "3"
      labels:
        app: ngnix3
    spec:
      containers:
        - image: us.gcr.io/kube-flux/kube-flux-zeus:0.0.3
          name: ngnix3
          imagePullPolicy: Always
          resources: {}
          ports:
            - containerPort: 9999
status: {}
